html {
   height: 100%;
}
.body{
    background: url('heart.gif') no-repeat center center fixed;
    background-size: cover;
}

body {
    font-family:'Lovers Quarrel', cursive;
    background: linear-gradient(45deg, #ee9ca7, #ffdde1 100%);
    background-repeat: no-repeat;
}
h1{
    text-align: center;
    font-size: 4rem;
    margin: 4rem;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form label{
    text-align: center;
    font-size: 2rem;
}
form input{
    text-align: center;
    font-size: 1.8rem;
    font-family:'Lovers Quarrel', cursive; 
    border-radius: 5rem;
    border: none;
    margin: 2rem;
    padding: 0.3% ;
    
}
form #button{
    cursor: pointer;
    padding: 0.5% 3%;
    font-family:'Lovers Quarrel', cursive;
    font-size: 2rem;
    border-radius: 5rem;
    border: none;
    background: linear-gradient(45deg, #8E2DE2, #4A00E0);
}
form #button:hover {
    background: linear-gradient(45deg, #4A00E0, #8E2DE2);
}
#container {
    position: relative;
    margin: 20px;
    width: 200px;
    height: 200px;
    display: none;
  }
  #container p{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 44px;
    margin: 0;
    padding: 0;
    transform: translate(-50%, -50%);
  }
  #errorMessage {
      display: none;
      font-size: 3rem;
  }
  